@import 'variables';
@import 'libs/normalize';

@import 'components/all';



.App {

    // .App__container
    

    &__container {
        display: flex;
        //height: 100vh;
    }

    // .App__side-bar

    &__side-bar {
        
        width: 271px;
        flex: 0 0 auto;
    }

    // .App__About

    &__About {
        //min-height: 100%;
        flex: 1 1 auto;
    }
}

